/* Body height fixes */
html, body { height:100%; }
body { padding-top: 50px; }

/* Leaflet map formatting */
#main, #map { height:100%; width:100%; }

#navbar {
  box-shadow: 0px 3px 5px #aaa;
}

/* Dropzone general formatting */
#dropzone { height: 95px; cursor: pointer; }
.no-file { border: 2px dashed #ddd; }
.file-selected { border: 2px solid #9d9; background-color: #e5ffe5; }
.file-error { border: 2px solid #d99; background-color: #ffe5e5; }
#dropzone #icon, #dropzone #info h3, #dropzone #info h4 { color: #999; }
#dropzone #info h3, #dropzone #info h4, #dropzone #info p { margin: 5px 0px !important; }
#dropzone #info p { color: #ababab; }
#hidden-file { display: none; }
.file-selected .progress { margin: 10px 0 5px 0 !important; }

/* Icon visibility management */
.no-file #icon-full, .no-file #icon-error,
.file-selected #icon-empty, .file-selected #icon-error,
.file-error #icon-empty, .file-error #icon-full { display:none; }

/* Text management */
.no-file #info-full, .no-file #info-error,
.file-selected #info-empty, .file-selected #info-error,
.file-error #info-empty, .file-error #info-full { display:none; }

.glyphicon-lg { font-size: 48px; line-height: 1.25; }

.drop-hovered {
  border: 2px dashed #99f !important;
  background-color: #eef;
}

.table tbody>tr>td.vert-align {
    vertical-align: middle;
}

#headers .panel-heading {
  background-color: #ececec !important;
}

#headers .header-name, .width-label, .color-label {
  font-weight: bold;
}

#legend {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 170px;
  z-index: 999;
  font-size: 12px;
}

.legend-icon {
  width: 12px;
  height: 20px;
  margin: 3px;
}

#legend .panel-body {
  padding: 5px 10px; !important;
}

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99999;
  display: flex;
  align-items: center;
  background-color: #eee;
  overflow: hidden;
}

/* Animations */
.cssload-loader {
	position: absolute;
	left: 50%;
	width: 39px;
	height: 39px;
	margin-top: -19px;
	margin-left: -19px;
	border-radius: 50%;
	overflow: hidden;
	animation: 1.44s cssload-spin cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
		-o-animation: 1.44s cssload-spin cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
		-ms-animation: 1.44s cssload-spin cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
		-webkit-animation: 1.44s cssload-spin cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
		-moz-animation: 1.44s cssload-spin cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
}

.cssload-loader:before, .cssload-loader:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	top: 0;
	left: 0;
	box-sizing: border-box;
	border: 19px solid black;
	border-top-color: rgb(250,66,72);
	border-left-color: rgb(93,219,186);
	border-bottom-color: rgb(237,230,112);
	border-right-color: rgb(100,195,242);
}
.cssload-loader:before {
	filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
}
.cssload-loader:after {
	animation: 1.44s cssload-normal-opacity cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
	-o-animation: 1.44s cssload-normal-opacity cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
	-ms-animation: 1.44s cssload-normal-opacity cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
	-webkit-animation: 1.44s cssload-normal-opacity cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
	-moz-animation: 1.44s cssload-normal-opacity cubic-bezier(0.46, -0.4, 0.2, 1.51) infinite both;
}

@keyframes cssload-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(-2160deg); }
}

@-o-keyframes cssload-spin {
	0%   { -o-transform: rotate(0deg); }
	100% { -o-transform: rotate(-2160deg); }
}

@-ms-keyframes cssload-spin {
	0%   { -ms-transform: rotate(0deg); }
	100% { -ms-transform: rotate(-2160deg); }
}

@-webkit-keyframes cssload-spin {
	0%   { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(-2160deg); }
}

@-moz-keyframes cssload-spin {
	0%   { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(-2160deg); }
}

@keyframes cssload-normal-opacity {
  0%   { opacity: 1; }
  45%  { opacity: 0; }
  55%  { opacity: 0; }
  100% { opacity: 1; }
}

@-o-keyframes cssload-normal-opacity {
  0%   { opacity: 1; }
  45%  { opacity: 0; }
  55%  { opacity: 0; }
  100% { opacity: 1; }
}

@-ms-keyframes cssload-normal-opacity {
  0%   { opacity: 1; }
  45%  { opacity: 0; }
  55%  { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes cssload-normal-opacity {
  0%   { opacity: 1; }
	45%  { opacity: 0; }
	55%  { opacity: 0; }
	100% { opacity: 1; }
}

@-moz-keyframes cssload-normal-opacity {
	0%   { opacity: 1; }
	45%  { opacity: 0; }
	55%  { opacity: 0; }
	100% { opacity: 1; }
}
